<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <!-- <span class="icon-bar" *ngFor="let iconBar of [1,2,3]"></span> -->
                <span class="bi bi-list"></span>
            </button>
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed=true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/recipes" 
                    (click)="collapsed=true">Recipes</a></li>
                <li routerLinkActive="active"
                    (click)="collapsed=true"
                    ><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" *ngIf="isAuthenticated" appDropdown>
                    <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer" (click)="storeRecipes()">Save Data</a></li>
                        <li><a style="cursor: pointer" (click)="fetchRecipes()">Fetch Data</a></li>
                    </ul>
                </li>
                <li *ngIf="isAuthenticated" (click)="logout()">
                    <a style="cursor: pointer;">Logout</a>
                </li>
                <li routerLinkActive="active"
                    *ngIf="!isAuthenticated"
                    (click)="collapsed=true"
                    ><a routerLink="/auth">Authenticate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>