html{
    font-size: calc(1em + 1vw);
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    z-index: 50;
}

.alert-box{
    position: fixed;
    top: 30vh;
    left: 40vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);

    display: inline-block;
}

.alert-box-action{
    text-align: center;
}

p{
    text-align: center;
    font-size: 1.15em;
}

